<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Website Mobile Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% for c in cate %}
                <li class="nav-item">
                    <a class="nav-link" href="/?category_id={{c.id}}">{{ c.name }}</a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="/cart">&#128722  <span class="badge bg-danger cart-counter">0</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">&#129333 Register</a>
                </li>
            </ul>
            <form method="get" action="/" class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search" name="kw">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>